<h2>List of Tenants</h2>
{{#each tenants}}

<div class="text-center">
    <h2>{{name}}</h2>
    <p>{{email}}</p>
    <p>{{rating}}</p>
    <p>{{paymentTimlinessScore}}</p>
    <p>{{cleanlinessScore}}</p>
    <p>{{propertyUpkeepScore}}</p>
    <p>{{communicationScore}}</p>
    <p>{{friendlinessScore}}</p>
    {{!-- <p>{{{get_emoji}}}</p> --}}
    {{!-- <p>{{description}}</p>
    <p>Posted by {{user.name}} on {{format_date date_created}}</p> --}}
</div>
{{/each}}
